*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
:root{
    --darkGrey: #696969;
    --btnbg: #514844;
    --navbg: #FEFEFE;
}
body{
    
}
nav{
    background: var(--navbg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 100px;
    padding-right: 100px;
}
nav .header{
    font-size: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
nav ul li{
    cursor: pointer;
    color: #696969;
    font-size: 15px;
    font-weight: 500;
    transition: 0.1s ease-in;
}
nav ul li:hover{
    color: #b3b3b3;
}
nav .header{
    color: var(--darkGrey);
}
nav .join-us{
    width: 90px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-right: 15px;
    color: var(--navbg);
    transition: 0.2s ease-in;
    background-color: var(--btnbg);
}
nav .join-us:hover{
    background-color: #665c57;
}
.other-links{
    display: flex;
    align-items: center;
}

/* first screen */
.first-screen{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #e9e9e9;
}
.brand-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 500px;
    height: fit-content;
}
.brand-text h1{
    font-size: 70px;
    font-weight: 700;
    color: var(--btnbg);
}
.brand-text p{
    font-size: 19px;
    font-weight: 500;
    width: 368px;
    line-height: 24px;
    color: var(--darkGrey);
}
.brand-text .shop-now-btn{
    width: 120px;
    height: 45px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin-right: 15px;
    color: var(--navbg);
    transition: 0.2s ease-in;
    background-color: var(--btnbg);
}
.brand-images{
    width: 550px;
    height: 500px;
    display: flex;
    gap: 20px;
}
.brand-images .medium{
    width: 50%;
    height: 100%;
}
.medium .medium-image1{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.medium-image1 .main-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.medium-image1 .main-image img{
    width: 100%;
    border-radius: 20px;
}
.medium .medium-image2{
    width: 100%;
    height: 50%;
    border-radius: 20px;
}
.medium-image2 .main-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.brand-images .large{
    width: 50%;
    height: 100%;
}
.large .large-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
}
.large .large-image img{
    width: 100%;
    height: 100%;
}
.second-screen{
    width: 100%;
    height: 550px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(253, 253, 253);
}
.second-screen h1{
    font-size: 33px;
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 15px;
}
.card-profile{
    width: 100%;
    height: 425px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    height: fit-content;
    min-height: 396px;
    background-color: #cacaca;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card .card-img{
    width: 250px;
    height: 200px;
    overflow: hidden;
    margin-top: 20px;
}
.card-img img{
    width: 100%;
}
.card .card-text{
    display: flex;
    gap: 10px;
    width: 250px;
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 30px;
}
.card-text h3{
    font-size: 19px;
    color: var(--btnbg);
}
.card-text p{
    font-weight: 500;
    color: var(--btnbg);
}
.card-text button{
    width: 150px;
    height: 45px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--navbg);
    transition: 0.2s ease-in;
    background-color: var(--btnbg);
}